:root{
    --primary-color: #0FA4A4;
    --error-color: #f77;
    --drop-shadow: drop-shadow( 0px 2px 4px black);
    --light-drop-shadow: drop-shadow( 0px 1px 2px black);
}

@font-face {
    font-family: primary-font;
    src: url(static/ChangaOne-Regular.ttf);
}


* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: linear-gradient( #0FA4A4, #4FE4E4);
    margin: 0;
}

.topbar {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background: white;
}

.welcome-message {
    text-align: center;
}
